html, body {
    height: 100%
}

#masonry{
	.masonry-col{
		padding: 0;
		float: left;
		height: auto;


	}
	img{
		width:100%;
		height: auto;
	}
}

#overlay{
	position: fixed;
	top:0;
	left: 0;
	right:0;
	min-height: 100%;
	z-index: 1;
	background: rgba(0,0,0,0.8);
	display: none;
}
#fullscreen-image{
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	padding-top: 40px;
	z-index:2;
	img{
		display: block;
   		width: auto;
   		margin: auto;
	}
	
}